---
interface Props {
  id: string;
  titleType: boolean;
  title: string;
  text: string;
  image: {
    url: string;
    copyright: string;
  };
}

const { id, titleType, title, text, image } = Astro.props;

---

<div id={id} class="flex flex-col gap-6">
  { titleType
    ? <h1 class='text-gray-600 font-bold text-3xl'>{title}</h1>
    : <h2 class='text-blue-500 font-bold text-2xl'>{title}</h2>
  }
  {text &&
    //TODO: think how to implement markdown 
    <p class="text-gray-600 text-base whitespace-pre-wrap">{text}</p> 
  }
  { image && 
    <div class='flex flex-col items-start gap-4'>
      <div class='w-full h-56 xl:h-96 overflow-hidden rounded-[25px] xl:rounded-[40px]'>
        <img src={image.url} class='w-full h-full object-cover' />
      </div>    
      <p class='text-sm italic text-gray-600 w-full'>{image.copyright}</p>
    </div>
  }
</div>
