---
import { Image } from 'astro:assets';

interface Section {
  title: string;
  body: string;
  image: string;
}

interface Props {
  title: string;
  body: string;
  sections: Section[];
  general: {
    title: string;
    body: string;
  };
}

const { title, body, sections, general } = Astro.props;
---

<div class="h-fit bg-sky-100 flex items-start justify-center">
  <div class="w-11/12 lg:w-2/3 flex flex-col items-start justify-start gap-y-10  mb-20">
    <div class="flex flex-col items-start justify-start h-full w-full xl:w-[69%]">
      <h1 class="text-2xl xl:text-3xl 2xl:text-4xl font-bold text-start text-gray-600">{title}</h1>
      <p class="mt-4 text-base font-normal leading-tight text-start text-gray-600">{body}</p>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-6">
      {sections.map((section, index) => (
        <div class="flex flex-col items-start justify-start p-10 bg-white rounded-[50px] gap-y-4">
          <Image src={`/analytics/${section.image}.svg`} alt={`${section.image}`} width={30} height={30}/> 
          <h1 class="text-blue-500 text-base font-bold uppercase leading-tight">{section.title}</h1>
          <p class="text-gray-400 text-sm font-normal leading-[21px]">{section.body}</p>
        </div>
      ))}
      <div class="relative overflow-hidden md:col-span-2 flex flex-col items-start justify-start p-10 bg-gradient-to-l from-hero_gradient_1 to-hero_gradient_2 rounded-[50px]">
        <div class="flex flex-col gap-y-4 w-full md:w-2/3 z-10">
          <h1 class="text-white text-base font-bold uppercase leading-tight">{general.title}</h1>
          <p class="text-white text-sm font-normal leading-[21px]">{general.body}</p>
        </div>
        <Image src="/3d_images/PC.svg" alt="PC" width={30} height={30} class="invisible md:visible md:w-3/5 lg:w-1/2 2lg:w-1/3 xl:w-1/2 absolute -right-24 -bottom-20 transform rotate-12 z-100" />
      </div>
    </div>
  </div>
</div>
