---
import { Image } from 'astro:assets'

//Images
import info from '../../images/icons/info.svg'

interface Props {
  title: string
  subtitle: string
  body: string
  button: string
  steps: {
    title?: string
    body?: string
    list?: string[]
    image?: any
  }[]
}

const { title, subtitle, body, button, steps } = Astro.props
---

<div class='flex flex-col gap-y-8 xl:gap-y-10'>
  <h1 class='text-3xl font-bold text-gray-600 ml-[1.9rem]'>
    {title}
  </h1>
  <div class='flex flex-col gap-y-10'>
    <div
      class='flex flex-row gap-x-4 w-full items-start justify-start'
    >
      <Image src={info} class='h-[17px] mt-1' alt='' />
      <div class='flex flex-col gap-y-2'>
        {
          subtitle && (
            <h3 class='text-xl font-bold text-blue-500'>
              {subtitle}
            </h3>
          )
        }
        {
          body && (
            <p class='text-gray-600 text-base whitespace-pre-wrap'>
              {body}
            </p>
          )
        }
      </div>
    </div>
    {
      steps.map(step => (
        <div class='flex flex-col gap-y-6'>
          {step.title && (
            <h2 class='text-3xl font-bold text-gray-600 ml-[1.9rem]'>
              <span class='text-blue-500'>
                Step {steps.indexOf(step) + 1}:{' '}
              </span>{' '}
              {step.title}
            </h2>
          )}

          {step.body && (
            <p class=' text-gray-600 text-base whitespace-pre-wrap'>
              {step.body}
            </p>
          )}

          {step.list && (
            <ul class=' text-gray-600 text-base space-y-4'>
              {step.list.map((item, index) => (
                <li class='flex flex-row gap-x-[14px] items-center justify-start'>
                  <div class='min-w-[17px] min-h-[17px] max-w-[17px] max-h-[17px] bg-blue-500 rounded-full flex items-center justify-center text-sky-100 font-bold text-2xs'>
                    {index + 1}
                  </div>
                  {item}
                </li>
              ))}
            </ul>
          )}

          {step.image && (
            <div class='flex flex-row gap-x-4'>
              <Image src={step.image} class='w-full' alt='' />
            </div>
          )}
        </div>
      ))
    }
  </div>
  <a href='/' class='self-center'>
    <div
      class='w-52 h-11 px-7.5 py-2.5 bg-blue-500 rounded-2xl justify-center items-center gap-4 inline-flex cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:shadow-lg'
    >
      <div class='text-white text-xs font-extrabold uppercase'>
        {button}
      </div>
    </div>
  </a>
</div>
