---
import { Image } from 'astro:assets';
import IpadSwiper from './Ipad_swiper';

interface Paragraph {
  header: string;
  body: string;
}

interface Props {
	header: string;
	paragraphs: Paragraph[];
  testimonial: string;
  button: string;
}

const { header, paragraphs, button, testimonial } = Astro.props;
---
<div>
  <div class="bg-sky-100 flex items-start justify-center h-fit">
    <div class="flex flex-col lg:flex-row items-center justify-between w-11/12 lg:w-2/3 my-20 lg:mt-16 0 2lg:mb-40">
      <div class="flex flex-col items-start justify-center w-full lg:w-1/2 gap-y-5">
        <div class="flex flex-row gap-x-6 mb-5">
          <Image src={`/stars.svg`} alt="sprinkle" width={50} height={50} class="w-[10%]"/>
          <h1 class="text-lg xl:text-2xl 2xl:text-3xl font-bold text-start text-gray-600 whitespace-pre-wrap leading-tight">{header}</h1>
        </div>
        <div class="flex flex-col gap-y-4 pl-5">
          {paragraphs.map((paragraph) => (
            <div class="flex flex-col gap-y-1">
              <h1 class="text-xs xl:text-base font-bold text-start text-gray-600 whitespace-pre-wrap">{paragraph.header}</h1>
              <ul class="list-disc list-outside text-xs xl:text-base font-normal text-start text-gray-600 whitespace-pre-wrap">
                {paragraph.body.split('\n').map((item) => (
                  <li>{item}</li>
                ))}
              </ul>
            </div>
          ))}
        </div>
        <p class="text-2xs xl:text-sm font-normal italic text-start text-gray-600 whitespace-pre-wrap">{testimonial}</p>
      </div>
    
      <div class="w-7/12 h-7/12">
        <Image src={`/3d_images/PC_robo.svg`} alt="Robo" width={50} height={50} class="w-full h-full rotate-[15deg] lg:-mr-10 "/>
      </div>
    </div>
  </div>
  <div class="bg-gradient-to-l from-hero_gradient_1 to-hero_gradient_2 flex flex-col  items-center justify-center lg:justify-start h-fit min-h-[509px]">
    <div class="flex flex-col items-center justify-center w-11/12 lg:w-2/3 gap-y-10 mb-10">
      <div class="w-2/3 lg:w-2/3 xl:w-1/2 mt-10 lg:-mt-20 2lg:-mt-24 xl:-mt-24 2xl:-mt-32">
        <IpadSwiper image_path={["/ai_slide_2.png"]} client:load/>
      </div>
      <div class="w-52 h-11 px-7.5 py-2.5 bg-white rounded-2xl justify-center items-center gap-4 inline-flex cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
        <div class="text-blue-500 text-xs font-extrabold uppercase">{button}</div>
      </div>
    </div>
  </div>
</div>

