---
import { Image } from 'astro:assets';

interface Post {
  title: string;
  body: string;
  image: string;
  tags: string[];
}

interface Props {
  title: string;
  posts: Post[];
  button: string;
}

const { title, posts, button } = Astro.props;
---

<div class="h-fit bg-gradient-to-b from-sky-100 to-sky-200  flex items-start justify-center">
  <div class="w-11/12 lg:w-2/3 flex flex-col justify-center gap-y-20 mb-20">
    <div class="flex flex-col items-start justify-start h-full w-full xl:w-[69%]">
      <h1 class="text-2xl xl:text-3xl 2xl:text-4xl font-bold text-start text-gray-600">{title}</h1>
    </div>
    <div class="flex flex-col justify-center items-center gap-y-10">
      <div class="grid grid-cols-1 md:grid-cols-2 2lg:grid-cols-3 gap-6">
        {posts.map((post, index) => (
          <div class="flex flex-col h-full bg-white rounded-[50px] overflow-hidden">
              <div class="w-full h-[160px] xl:h-[270px] overflow-hidden">
                  <Image src={`${post.image}`} alt={`${post.image}`} width={30} height={30} class="w-full h-full object-cover"/> 
              </div>
              <div class="p-8 xl:p-10 flex flex-col gap-y-2 xl:gap-y-4">
                  <div class="flex flex-row gap-2 w-full flex-wrap">
                      {post.tags.map((tag, index) => (
                          <div class="px-2.5 py-0.5 bg-sky-100 rounded-[7px] justify-center items-center ">
                              <div class="text-blue-500 text-[10px] font-medium leading-[13px]">{tag}</div>
                          </div>
                      ))}
                  </div>
                  <h1 class="text-blue-500 text-xs xl:text-base font-bold">{post.title}</h1>
                  <p class="text-gray-400 text-2xs xl:text-sm ">{post.body}</p>
              </div>
          </div>
      ))}
      
      </div>
      <div class="h-11 px-6 py-2.5 bg-white rounded-2xl flex justify-center items-center cursor-pointer transform transition-transform duration-300 hover:scale-105 hover:shadow-lg">
        <div class="text-blue-500 text-xs font-extrabold uppercase">{button}</div>
      </div>
    </div>
  </div>
</div>
