---
import { ViewTransitions } from 'astro:transitions'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'

//Images
import twitter from '../images/footer/twitter.svg'
import instagram from '../images/footer/instagram.svg'
import github from '../images/footer/github.svg'
import linkedin from '../images/footer/linkedin.svg'
import telegram from '../images/footer/telegram.svg'

interface Props {
  title: string
  headerColor?: string
}

const { title, headerColor } = Astro.props
const header_sections = {
  sections: [
    {
      title: 'Home',
      url: '/',
    },
    {
      title: 'Software',
      url: '/software',
    },
    {
      title: 'Security',
      url: '/security',
    },
    {
    	title: 'Blog',
    	url: '/blog',
    },
    {
      title: 'Community',
      url: '/community',
    },
  ],
}
const footer = {
  contact_us: 'Contact Us',
  discover:
    'Discover the full capabilities \nof Crossnetics with our Pro Package',
  button: 'View pricing',
  social_media: [
    {
      title: 'Twitter',
      url: '',
      icon: twitter,
    },
    {
      title: 'Instagram',
      url: '',
      icon: instagram,
    },
    {
      title: 'Github',
      url: '',
      icon: github,
    },
    {
      title: 'Linkedin',
      url: '',
      icon: linkedin,
    },
    {
      title: 'Telegram',
      url: '',
      icon: telegram,
    },
  ],
}
---

<!doctype html>
<html lang='en'>
  <head>
    <meta charset='UTF-8' />
    <meta
      name='viewport'
      content='width=device-width, initial-scale=1'
    />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <title>{title}</title>
    <ViewTransitions />
  </head>
  <body class='bg-white h-screen flex flex-col justify-between'>
    <Header
      sections={header_sections.sections}
      burgerMenuSocial={footer.social_media}
      bgColor={headerColor}
      transition:persist
    />
    <div class='flex items-center justify-center'>
      <div
        class='w-10/12 lg:w-2/3 flex flex-col items-start justify-start 2lg:justify-center mt-28 md:mt-40 mb-20'
      >
        <slot />
      </div>
    </div>
    <Footer
      contact_us={footer.contact_us}
      discover={footer.discover}
      social_media={footer.social_media}
      button={footer.button}
      transition:persist
    />
  </body>
</html>
